<main class="container mt-4">
  <!-- Mensaje de carga -->
  <div *ngIf="isLoading" class="text-center">
    <p>Cargando...</p>
  </div>

  <!-- Lista de frutas -->
  <div *ngIf="!isLoading">
    <div class="row mb-3">
      <div class="col-md-12">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar por nombre"
          [(ngModel)]="searchTerm"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let fruta of filteredFrutas()">
        <div class="card mb-4 text-center">
          <div class="card-body">
            <h5 class="card-title">{{ fruta.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ fruta.roman_name }}
            </h6>
            <p class="card-text">{{ fruta.type }}</p>
            <button
              type="button"
              class="btn btn-info"
              (click)="viewDetails(fruta.id)"
            >
              Información detallada
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
