<header class="container mt-4">
  <section class="d-flex justify-content-between align-items-center">
    <h1 class="mb-0">One Piece Fruits</h1>
    <button (click)="toggleDarkMode()" class="btn btn-primary">
      {{ isDarkMode ? "Cambiar a modo claro" : "Cambiar a modo oscuro" }}
    </button>
  </section>
  <section class="d-flex justify-content-between align-items-center">
    <button [routerLink]="'/frutas'" type="button" class="btn btn-primary">
      Frutas
    </button>
    <button [routerLink]="'/hakis'" type="button" class="btn btn-primary">
      Hakis
    </button>
    <button [routerLink]="'/personajes'" type="button" class="btn btn-primary">
      Personajes
    </button>
    <button [routerLink]="'/espadas'" type="button" class="btn btn-primary">
      Espadas
    </button>
    <button [routerLink]="'/gears'" type="button" class="btn btn-primary">
      Gears
    </button>
  </section>
  <router-outlet></router-outlet>
</header>
